<app-navbar></app-navbar>
<div class="container">
    <div class="card-container">
        <div class="card">
            <div class="card-img-top">
                <img [src]="product.image" alt="clothing">
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h1>{{ product.title }}</h1>
                </div>
                <div class="card-text">
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sideCardContainer">
        <div class="sideCard">
            <div class="card-price">
                <span>R {{ product.price }}</span>
            </div>
            <div class="add-to-cart-button">
                <button (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>