<div class="banner">
    <h1 class="banner-heading" style="color: white">About Us</h1>
</div>
<div class="card-container">
    <div class="card-container-inner">
        <div class="content">
            <h2>Overview</h2>
            <p>
                Welcome to TechExplosives, our E-commerce platform for all your 
                online shopping needs. We are more than just a marketplace; 
                we are also your trusted partner in finding gadgets you love and 
                enhancing your online shopping experience 
                <br />
                
            </p>
            <h3>Our Mission</h3>
            <p>
                At TechExplosives, our mission is simple yet profound:
                to connect people with the gadgets they desire and provide 
                them with an exceptional shopping journey. We strive
                to create a platform that not only offers an extensive
                range of products but also ensures convenience and
                customer satisfaction at every step of the way.
            </p>
            <br />
        </div>
    </div>
</div>
