<app-navbar></app-navbar>

<section class="profile">
    <div class="profile-header">
        <div class="profile-info">
            <h2>Lebohang Mokoena</h2>
            <p>lebohangmokoena</p>
            <p>Web Developer</p>
            <p>Boksburg, Gauteng</p>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
    </div>

    <div class="profile-contact">
        <h3>Contact Information</h3>
        <p>Email: lebohangmokoenagmail.com</p>
        <p>Phone: (087) 164-6267</p>
        <p>
            Social Media:
            <a href="#">Twitter</a> |
            <a href="#">LinkedIn</a> |
            <a href="#">GitHub</a>
        </p>
    </div>

    <div class="profile-activity">
        <h3>Recent Activity</h3>
        <ul>
            <li>Posted a new blog article on web development.</li>
            <li>Commented on Lebohang's post.</li>
            <li>Liked a photo.</li>
        </ul>
    </div>

    <div class="profile-settings">
        <h3>Settings</h3>
        <ul>
            <li><a href="#">Privacy Settings</a></li>
            <li><a href="#">Notification Preferences</a></li>
            <li><a href="#">Account Management</a></li>
        </ul>
    </div>

    <div class="profile-achievements">
        <h3>Achievements</h3>
        <p>Badge: Web Developer Pro</p>
    </div>

    <div class="profile-connections">
        <h3>Friends/Followers</h3>
        <ul>
            <li><a href="#">Lebohang Mokoena</a></li>
            <li><a href="#">Mike Smith</a></li>
            <li><a href="#">Alice Johnson</a></li>
        </ul>
    </div>
</section>
<app-footer></app-footer>