/* Footer CSS */
.footer {
  background-color: #333;
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 10px 0; /* Adjust the padding as needed for a smaller footer */
}

.footer h2 {
  font-size: 16px; /* Decrease the font size for a smaller footer */
  color: white;
  margin: 0;
}

/* Center the text vertically within the footer */
.footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px; /* Decrease the font size for a smaller footer */
  color: white;
}

