<section class="py-5">
    <div class="container px-5 px-lg-7 my-5">
        <a [routerLink]="['']"><button class="btn btn-success">Back</button></a>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <!-- <img src="{{product?.image}}" class="card-img-top" alt="..."> -->
                                <img src="image" class="card-img-top" alt="...">
                            </div>
                            <div class="col-md-7">
                                <!-- <h5 class="card-title">{{product.name}}</h5> -->
                                <h5 class="card-title">school bag</h5>
                                <!-- <p class="card-text">{{product.description}}</p> -->
                                <p class="card-text">carry bag for students</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="card-title">R{{product.price}}</h4> -->
                        <h4 class="card-title">R1500</h4>
                        <br><br><br>
                        <div class="d-flex">
                            <!-- <button (click)="addToCart(product)">Add Item</button> -->
                            <button>Add Item</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
