/* Styling for the container holding the card */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; 
  padding: 20px;
  margin-top: 90px;
}

.card-container {
  width: 850px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex; 
  flex-direction: column; 
}

/* Styling for the card itself */
.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

/* Styling for the card image */
.card-img-top {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 150px; 
  margin-top: 20px;
}

.card-img-top img {
  max-width: 100%;
  max-height: 100%; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Styling for the card body */
.card-body {
  padding: 10px;
}

/* Styling for the card title */
.card-title h1 {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

/* Styling for the card text */
.card-text p {
  margin: 10px 0;
  font-size: 15px; 
  text-align: center;
  color: black;
  max-height: 60px; 
  overflow: hidden;
}

.sideCardContainer{
  width: 350px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex; 
  flex-direction: column; 
}

.sideCard{
  margin: 20px;
}

/* Styling for the card price */
.card-price {
  display: flex;
  /* padding: 10px; */
  height: 40px; 
}

.card-price span {
  font-size: 26px;
  font-weight: bold;
  color: #0a0a0a;
}

.add-to-cart-button{
  font-size: 20px;
}

.add-to-cart-button button {
  padding: 10px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  width: 310px;
  background-color: forestgreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(100% - 20px);
  }

  .add-to-cart-button button{
    width: auto;
  }
}
