<ng-container *ngIf="true">
   <div class="card-table">
    <div class="card-product">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>Bag</td>
                <td>ImageLoading</td>
                <td>This is good quality</td>
                <td>50</td>
                <td>1</td>
                <td>R1000</td>
                <td><button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
            </tr>
        </table>
    </div>
   </div>
</ng-container>


<!-- empty cart -->
<ng-container *ngIf="false">
    <div class="center">
        <h4>Your cart is empty!</h4>
        <h6>Add item to it now</h6>
        <button routerLink="/home" class="btn btn-success">Show Now</button>
    </div>
</ng-container>