.container{
    margin-top: 20px;
}

/* CSS for card-heading */
.card-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card-heading .heading {
    font-family: roboto;
    font-size: 39px;
    font-weight: bold;
    margin-top: 100px;
  }
  
  /* CSS for card */
  .card {
    font-family: roboto;
    background-color: #706354;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(10, 10, 10, 0.486);
    padding: 20px;
  }
  
  /* CSS for form elements */
  form label {
    font-size: 20px;
    color: #ffffff;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .form-text.text-danger {
    color: red;
    font-size: 20px;
  }
  
  /* CSS for login button */
  form button.btn.btn-success {
    font-family: roboto;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button.btn.btn-success:disabled {
    font-size: 20px;
    background-color: #F16B44;
    cursor: not-allowed;
  }
  
  /* CSS for container */
  .loginContainer {
    text-align: center;
  }
  
  .loginContainer p {
    font-family: roboto;
    font-size: 26px;
    margin-top: 50px;
  }
  
  .loginContainer a {
    color: #F16B44;
    text-decoration: none;
  }
  
  /* Media query for mobile responsiveness */
  @media screen and (max-width: 600px) {
    .card {
      padding: 10px;
    }
  
    form input[type="email"],
    form input[type="password"] {
      padding: 6px;
    }
  
    form button.btn.btn-success {
      padding: 8px;
    }
  }
  
/* 
  .card-heading {
    color: black;
    font-family: optimal;
    text-align: center;
    margin-top: 30vh;
  }
  
  .card {
    background-color: #6e665d;
    padding: 30px;
    box-shadow: 11px 11px 11px 11px rgba(10, 10, 10, 0.486);
    border-radius: 10px;
    margin: 0 auto;
    
  }
  
  .form-label {
    font-size: 20px;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 7px 0px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .form-text {
    margin-top: 5px;
  }
  
  .btn {
    background-color:#F16B44;
    color: white;
    font-family: optimal;
    margin-left: 23vh;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    padding: 9px 45px;
  }
  
  .container {
    text-align: center;
    margin-top: 20px;
  }
  
  .container p {
    font-family: optimal;
    font-size: 18px;
    margin-top: 30px;
  }
  
  button[type="submit"]:hover {
    background-color: #a3b4a5;
  }
  
  p {
    
    margin-top: 20px;
  }
  
  p a {
    text-decoration: none;
    color: #F16B44;
  }
  
  p a:hover {
    text-decoration: underline;
  }

 
@media screen and (min-width: 600px) {
    .card {
      padding: 10px;
    }
  
    form input[type="email"],
    form input[type="password"] {
      padding: 6px;
    }
  
    form button.btn.btn-success {
      padding: 8px;
    }
  } */
  
 
  /* @media (min-width: 576px) {
   
    .card {
      max-width: 500px;
    }
  }
  
  @media (min-width: 768px) {
    
    .card {
      max-width: 600px;
    }
  }
  
  @media (min-width: 992px) {
   
    .card {
      max-width: 800px;
    }
  } */
  
    
/* 
  .card-heading {
    color: black;
    font-family: optimal;
    text-align: center;
    margin-top: 30vh;
  }
  
  .card {
    background-color: #6e665d;
    padding: 30px;
    box-shadow: 11px 11px 11px 11px rgba(10, 10, 10, 0.486);
    border-radius: 10px;
    margin: 0 auto;
    
  }
  
  .form-label {
    font-size: 20px;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 7px 0px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .form-text {
    margin-top: 5px;
  }
  
  .btn {
    background-color:#F16B44;
    color: white;
    font-family: optimal;
    margin-left: 23vh;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    padding: 9px 45px;
  }
  
  .container {
    text-align: center;
    margin-top: 20px;
  }
  
  .container p {
    font-family: optimal;
    font-size: 18px;
    margin-top: 30px;
  }
  
  button[type="submit"]:hover {
    background-color: #a3b4a5;
  }
  
  p {
    
    margin-top: 20px;
  }
  
  p a {
    text-decoration: none;
    color: #F16B44;
  }
  
  p a:hover {
    text-decoration: underline;
  }

 
@media screen and (min-width: 600px) {
    .card {
      padding: 10px;
    }
  
    form input[type="email"],
    form input[type="password"] {
      padding: 6px;
    }
  
    form button.btn.btn-success {
      padding: 8px;
    }
  } */
  
 
  /* @media (min-width: 576px) {
   
    .card {
      max-width: 500px;
    }
  }
  
  @media (min-width: 768px) {
    
    .card {
      max-width: 600px;
    }
  }
  
  @media (min-width: 992px) {
   
    .card {
      max-width: 800px;
    }
  } */
  
      
  
  /* .card-heading {
    color: black;
    font-family: optimal;
    text-align: center;
    margin-top: 20vh;
  }
  
  .card {
    background-color: #6e665d;
    padding: 30px;
    box-shadow: 11px 11px 11px 11px rgba(10, 10, 10, 0.486);
    border-radius: 10px;
    margin: 0 auto;
    
  }
  
  .form-label {
    font-size: 20px;
    font-family: optimal ;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 7px 0px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;

  }
  
  .form-text {
    margin-top: 5px;
  }
  
  .btn {
    background-color:#F16B44;
    color: white;
    font-family: optimal;
    margin-left: 23vh;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    padding: 9px 45px;
  }
  
  .container {
    text-align: center;
    margin-top: 20px;
  }
  
  .container p {
    font-family: optimal;
    font-size: 23px;
    margin-top: 50px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  p {
    
    margin-top: 20px;
  }
  
  p a {
    text-decoration: none;
    color: #F16B44;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 576px) {
    .card {
      max-width: 500px;
    }
  }
  
  @media (min-width: 768px) {
    .card {
      max-width: 600px;
    }
  }
  
  @media (min-width: 992px) {
    .card {
      max-width: 800px;
    }
  }
  
     */