
  .card-heading {
    color: black;
    font-family: optimal;
    text-align: center;
    margin-top: 30vh;
  }
  
  .card {
    background-color: #6e665d;
    padding: 30px;
    box-shadow: 11px 11px 11px 11px rgba(10, 10, 10, 0.486);
    border-radius: 10px;
    margin: 0 auto;
    
  }
  
  .form-label {
    font-size: 20px;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 7px 0px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .form-text {
    margin-top: 5px;
  }
  
  .btn {
    font-family: optimal;
    font-size: 22px;
    width: 100%;
    padding: 3px;
    background-color:#383632;
    color: #ffffff;
    border: none;
    border-radius: 34px;
    cursor: pointer;
  }
  
  .container {
    text-align: center;
    margin-top: 20px;
  }
  
  .container p {
    font-family: optimal;
    font-size: 18px;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #a3b4a5;
  }
  
  p {
    
    margin-top: 20px;
  }
  
  p a {
    text-decoration: none;
    color: #F16B44;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  /* / Media Queries for responsiveness / */
  @media (min-width: 576px) {
    /* / Adjust the layout for small devices and larger / */
    .card {
      max-width: 500px;
    }
  }
  
  @media (min-width: 768px) {
    /* / Adjust the layout for medium devices and larger / */
    .card {
      max-width: 600px;
    }
  }
  
  @media (min-width: 992px) {
    /* / Adjust the layout for large devices and larger */ */
    .card {
      max-width: 800px;
    }
  }
  
    