html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --banner-background-size: cover;
    --banner-background-position: center;

    --bottom: 0;
    --left: 0;

    --primary-color: white;
    --secondary-color: #333;

    --primary-border-color: grey;
    --secondary-border-color: dark grey;

    --base-font-size: 16px;
    --subheading-font-size: 18px;
    --heading-font-size: 24px;

    --banner-height: 20vh;

    --default-margin:10px;
    --medium-margin: 7vw;
    --large-margin: 15vw;
    
    --normal-font-weight: 400px;
    --bold-front-weight: 700px;

    --banner-width: 100%;

}
